.container {
  float: left;
  height: 600px;
  width: 900px;
  background: #FFFFFF;
  border:1px solid black;
  font: 12px "Lucida Console", Monaco, monospace;
}

.content {
  height: 550px;
  width: 898px;
  overflow: auto;
  background: #FFFFFF;
  border:1px solid black;
}

.chart text {
  fill: black;
  font: 11px "Lucida Console", monaco, monospace;
  text-anchor: start;
}
