.container {
  float: left;
  height: 600px;
  width: 700px;
  background: #FFFFFF;
  border:1px solid black;
  font: 12px "Lucida Console", Monaco, monospace;
}

.content {
  height: 550px;
  width: 699px;
  overflow: auto;
  background: #FFFFFF;
  border:1px solid black;
}

.chart rect {
  fill: #d9f2e6;
}

.chart text {
  fill: black;
  font: 12px "Lucida Console", Monaco, monospace;
  text-anchor: start;
}
